* {
    box-sizing: border-box;
}

.form-container {
    position: relative;
    width: 100%;
    min-height: 100vh;
    overflow: hidden;
}

.bg-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
    /* video menee taakse */
}

.form-content {
    width: 420px;
    background-color: transparent;
    border: 4px solid #fff;
    color: #fff;
    border-radius: 15px;
    padding: 30px 40px;
    background-color: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(30px);
    margin: auto;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    position: relative;
    z-index: 1;
    /* sisältö videon päällä */
}

.form-content .text-muted {
    color: #fff !important;
    display: block;
    text-align: left;
}

.form-content button {
    margin-top: 16px;
}

.form-content h1 {
    display: block;
    text-align: center;
    margin-bottom: 30px;
}