* {
    box-sizing: border-box;
}

:root {
    --base: #555;
    --base-100: #f1f1f1;
    --base-800: #000;
    --yellow: #ffda4b;
    --yellow-100: #fffbe6;
    --yellow-400: #ffda4b;
    --yellow-800: #8b6f00;
    --blue: #0a61ae;
    --blue-100: #e2f8ff;
    --blue-400: #61dafb;
    --blue-800: #0a61ae;
}

body {
    font-family: "Roboto Slab", serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 16px;
}

.mainbox {
    width: 420px;
    background-color: transparent;
    border: 4px solid #fff;
    color: #fff;
    border-radius: 15px;
    padding: 30px 40px;
    background-color: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(30px);
    margin: auto;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    position: relative;
    z-index: 1;
    /* sisältö videon päällä */
}

.mainbox h1 {
    text-align: center;
    font-size: 30px;
}

.mainbox .input-box {
    position: relative;
    width: 100%;
    height: 50px;
    margin: 30px 0;
    margin-bottom: 10px;
}

.mainbox input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid white;
    border-radius: 50px;
    font-size: 18px;
    color: #fff;
    padding: 0 20px;
}

.mainbox input::placeholder {
    color: #fff;
    font-style: oblique;
}

.mainbox .icon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
}

.mainbox .icon.right {
    right: 15px;
}

.mainbox button {
    width: 100%;
    height: 40px;
    font-size: 18px;
    border: none;
    outline: none;
    border-radius: 50px;
    color: darkslategrey;
    margin-top: 20px;
    background-color: var(--blue);
    color: var(--base-100);
    transition: ease 0.3s all;

    &:hover {
        background-color: var(--base-800);
    }

    &.white {
        background-color: white;
        color: var(--base-800);

        &:hover {
            background-color: var(--base-100);
            color: var(--base);
        }
    }

    &.black {
        background-color: black;
        color: white;

        &:hover {
            background-color: var(--base);
            color: var(--base-100);
        }
    }
}

@media (max-width: 768px) {
    .mainbox {
        margin: 20px;
        width: auto;
        padding: 30px;
        backdrop-filter: none;
    }

    .mainbox h1 {
        font-size: 24px;
    }
}

.login-container {
    position: relative;
    width: 100%;
    min-height: 100vh;
    overflow: hidden;
}

.bg-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
    /* video menee taakse */
}

.links {
    padding-top: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}